[submodule "awesome-dotfiles"]
	path = awesome-dotfiles
	url = git@github.com:jprice/awesome-dotfiles.git
[submodule "awesome-awesomeness"]
	path = awesome-awesomeness
	url = git@github.com:bayandin/awesome-awesomeness.git
[submodule "awesome-awesome"]
	path = awesome-awesome
	url = git@github.com:emijrp/awesome-awesome.git
[submodule "sublime-bookmarks"]
	path = sublime-bookmarks
	url = git@github.com:dreikanter/sublime-bookmarks.git
[submodule "awesome-sysadmin"]
	path = awesome-sysadmin
	url = git@github.com:kahun/awesome-sysadmin.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:sindresorhus/awesome.git
[submodule "awesome-devenv"]
	path = awesome-devenv
	url = git@github.com:jondot/awesome-devenv.git
[submodule "awesome-zsh-plugins"]
	path = awesome-zsh-plugins
	url = git@github.com:unixorn/awesome-zsh-plugins.git
[submodule "beautiful-docs"]
	path = beautiful-docs
	url = git@github.com:PharkMillups/beautiful-docs.git
[submodule "ToolsOfTheTrade"]
	path = ToolsOfTheTrade
	url = git@github.com:cjbarber/ToolsOfTheTrade.git
[submodule "Git-Cheat-Sheet"]
	path = Git-Cheat-Sheet
	url = git@github.com:ArslanBilal/Git-Cheat-Sheet.git
[submodule "github-cheat-sheet"]
	path = github-cheat-sheet
	url = git@github.com:tiimgreen/github-cheat-sheet.git
[submodule "android-security-awesome"]
	path = android-security-awesome
	url = git@github.com:ashishb/android-security-awesome.git
[submodule "php-the-right-way"]
	path = php-the-right-way
	url = git@github.com:codeguy/php-the-right-way.git
[submodule "awesome-courses"]
	path = awesome-courses
	url = git@github.com:prakhar1989/awesome-courses.git
[submodule "free-programming-books"]
	path = free-programming-books
	url = git@github.com:vhf/free-programming-books.git
[submodule "awesome-python"]
	path = awesome-python
	url = git@github.com:vinta/awesome-python.git
[submodule "awesome-remote-job"]
	path = awesome-remote-job
	url = git@github.com:lukasz-madon/awesome-remote-job.git
[submodule "hacker-links"]
	path = hacker-links
	url = git@github.com:XjSv/hacker-links.git
[submodule "sublime"]
	path = sublime
	url = git@github.com:JaredCubilla/sublime.git
